@model DADS.users

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    <div>
        <h3>Are you sure you want to delete this account?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            <br/><br />
            &nbsp; @Html.ActionLink("Back to Account Details", "Edit", "user", null )
        </div>
        }
    </div>
</div>