<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zero HP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="padding-top:0" class="custom-background">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #373D3D !important;">
        @Html.ActionLink("ZeroHP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item"><a href="https://github.com/saf04231/Senior-Project/wiki#welcome-to-the-zerohp-wiki" class="nav-link" target="_blank">Wiki</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("Games List", "Index", "GameLobby", null, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>

        <div class=" navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink(User.Identity.Name, "Edit", "user", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Logout", "Logout", "user", null, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr style="background: whitesmoke;" />
        <footer>
            <p style="color: whitesmoke;">&copy; @DateTime.Now.Year - ZeroHP ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
