@{ bool loggedIn = true; }

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--<title>@ViewBag.Title - The Free Online Tabletop Simulator</title>-->
    <title>Zero HP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="padding-top:0" class="custom-background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("ZeroHP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                @if (loggedIn)
                {
                    <li class="nav-item">@Html.ActionLink("Games List", "Index", "GamesLobby", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Game", "GameView", "Game", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@User.Identity.Name</li>
                    <li class="nav-item">@Html.ActionLink("Logout","Logout","users", null, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr style="background: whitesmoke;" />
        <footer>
            <p style="color: whitesmoke;">&copy; @DateTime.Now.Year - ZeroHP ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
