@model DADS.games

@{
    ViewBag.Title = "AddChar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">

   @using (Html.BeginForm("Create", "player_sheets", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <table border="1" display: inline-table;">
                <tr>
                    <td>Character Name</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Class, Level, Race, &amp; Alignment</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.description, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Experience Point</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.stats[0], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.stats[0], "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>CP</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.stats[1], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.stats[1], "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>SP</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.stats[2], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.stats[2], "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>GP</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.stats[3], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.stats[3], "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>PP</td>
                    <td>
                        @Html.EditorFor(model => model.player_sheets.stats[4], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.player_sheets.stats[4], "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <table border="1" style="display: inline-table;">
            <colgroup>
                <col style="padding:5px 10px 5px 5px;">
                <col>
                <col>
            </colgroup>

            <tr>
                <th colspan="3" align="center">STATS</th>
            </tr>
            <tr>
                <th>&nbsp;Catagory&nbsp;</th>
                <th>&nbsp;Main Number&nbsp;</th>
                <th>&nbsp;Sub Stats&nbsp;</th>
            </tr>
            <tr>
                <td>Proficiency Bonus</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Inspiration</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[5], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[5], "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Stength</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[6], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[6], "", new { @class = "text-danger" })
                </td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[7], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[7], "", new { @class = "text-danger" })
                    <br />
                    Athletics: @Html.EditorFor(model => model.player_sheets.stats[8], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[8], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[9], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[9], "", new { @class = "text-danger" })
                </td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[10], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[10], "", new { @class = "text-danger" })
                    <br />Acrobatics: @Html.EditorFor(model => model.player_sheets.stats[11], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[11], "", new { @class = "text-danger" })
                    <br />Sleight of Hand: @Html.EditorFor(model => model.player_sheets.stats[12], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[12], "", new { @class = "text-danger" })
                    <br />Stealth: @Html.EditorFor(model => model.player_sheets.stats[13], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[13], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[14], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[14], "", new { @class = "text-danger" })
                </td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[15], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[15], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[16], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[16], "", new { @class = "text-danger" })
                </td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[17], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[17], "", new { @class = "text-danger" })
                    <br /> Arcana: @Html.EditorFor(model => model.player_sheets.stats[18], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[18], "", new { @class = "text-danger" })
                    <br /> History: @Html.EditorFor(model => model.player_sheets.stats[19], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[19], "", new { @class = "text-danger" })
                    <br /> Investigation: @Html.EditorFor(model => model.player_sheets.stats[20], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[20], "", new { @class = "text-danger" })
                    <br /> Nature: @Html.EditorFor(model => model.player_sheets.stats[21], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[21], "", new { @class = "text-danger" })
                    <br /> Religion: @Html.EditorFor(model => model.player_sheets.stats[22], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[22], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[23], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[23], "", new { @class = "text-danger" })
                </td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[24], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[24], "", new { @class = "text-danger" })
                    <br />Animal Handling: @Html.EditorFor(model => model.player_sheets.stats[25], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[25], "", new { @class = "text-danger" })
                    <br />Insight: @Html.EditorFor(model => model.player_sheets.stats[26], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[26], "", new { @class = "text-danger" })
                    <br />Medicine: @Html.EditorFor(model => model.player_sheets.stats[27], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[27], "", new { @class = "text-danger" })
                    <br />Perception: @Html.EditorFor(model => model.player_sheets.stats[28], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[28], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td>@Html.EditorFor(model => model.player_sheets.stats[29], new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>
                    Saving Throws: @Html.EditorFor(model => model.player_sheets.stats[30], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[30], "", new { @class = "text-danger" })
                    <br />Deception: @Html.EditorFor(model => model.player_sheets.stats[31], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[31], "", new { @class = "text-danger" })
                    <br />Intimidation: @Html.EditorFor(model => model.player_sheets.stats[32], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[32], "", new { @class = "text-danger" })
                    <br />Performance: @Html.EditorFor(model => model.player_sheets.stats[33], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[33], "", new { @class = "text-danger" })
                    <br />Persuasion: @Html.EditorFor(model => model.player_sheets.stats[34], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[34], "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Passive Wisdom (Perception)</td>
                <td>
                    @Html.EditorFor(model => model.player_sheets.stats[35], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.player_sheets.stats[35], "", new { @class = "text-danger" })
                </td>
                <td><!--Nothing--></td>
            </tr>
        </table>

        <div style="width: 350px">
            <div style="padding: 5px 5px 5px 0px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 1</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon1.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon1.name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon1.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon1.description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon1.damage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon1.damage, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon1.types, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon1.types, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding: 5px 5px 5px 0px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 2</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon2.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon2.name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon2.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon2.description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon2.damage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon2.damage, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon2.types, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon2.types, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding: 5px 5px 5px 0px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 3</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon3.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon3.name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon3.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon3.description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon3.damage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon3.damage, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>
                            @Html.EditorFor(model => model.player_sheets.weapon3.types, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.player_sheets.weapon3.types, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <input type="submit" value="Save Character!" class="btn btn-primary" id="addChar" />
    }
</div>